<% include partials/header %>

<h1>WELCOME</h1>

<a href="/student-login">LOGIN AS STUDENT</a>
<a href="/teacher-login">LOGIN AS TEACHER</a>
<a href="/teacher-register">REGISTER AS TEACHER</a>
<a href="/student-register">REGISTER AS STUDENT</a>


<% include partials/footer %>