<% include partials/header %>
<div>
<form method="POST" action="/student/login">
    <input type="text" name="username" placeholder="Roll Number"><br>
     <input type="password" name="password" placeholder="Password"><br>
    
    <button>Login!</button><br>
</form>
</div>
<a href="/register">Not yet registered? Register here</a>




<% include partials/footer %>